<mat-card>
  <div class="image-container">
    <img mat-card-image
         src="https://img1.10bestmedia.com/Images/Photos/378649/Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom-low-res_55_660x440.jpg"
         [alt]="'room.details.picAlt' | translate"
         class="zoom-image">
  </div>
  <mat-card-content class="d-grid row-gap-3">
    <div>
      <h3>{{'room.details.bedAmount' | translate:{ number: room.roomAmount } }}</h3>
      <h4>{{'room.details.size' | translate:{ number: room.size } }}</h4>
    </div>
    <div class="min-height-75">
      <div class="d-flex flex-wrap gap-1">
        <div *ngFor="let facility of room.roomFacilities"
             class="card-chip">
          {{facility | classifier: facilityClassifier}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span>{{getBookingTimeString()}}</span>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <span class="fw-bold">
            {{'room.details.total' | translate}}:
            {{getCalculatedPrice() | currency:room.currency: 'symbol-narrow': '0.0'}}
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="justify-content-center">
    <button
      (click)="navigateToDetails()"
      class="c-btn c-btn--primary w-50 text-center">
      {{'button.chooseRoom' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
