<mat-card>
  <div class="image-container">
    <img mat-card-image
         src="assets/sample/hotel_1.jpg"
         [alt]="'room.details.picAlt' | translate"
         class="zoom-image">
  </div>
  <br>
  <mat-card-content class="d-grid row-gap-3">
    <div>
      <h5 class="d-flex flex-wrap gap-1">{{room.type | classifier: roomTypeClassifier}}
        {{'room.details.roomAmount' | translate:{ number: room.roomAmount } }}
      </h5>
      <span class="small-text">{{'room.details.size' | translate:{ number: room.size } }}</span>
    </div>
    <div class="min-height-65">
      <div class="d-flex flex-wrap gap-1">
        <div *ngFor="let facility of room.roomFacilities">
          <app-chip >{{facility | classifier: facilityClassifier}}</app-chip>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-start">
          <span class="small-text">{{getBookingTimeString()}}</span>
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end">
          <span class="large-text-bold">
            {{'room.details.total' | translate}}:
            {{getCalculatedPrice() | currency:room.currency: 'symbol-narrow': '0.0'}}
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="justify-content-center">
    <button
      (click)="navigateToDetails()"
      class="c-btn c-btn--primary text-center">
      {{'button.chooseRoom' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
