<app-back-button></app-back-button>
<ng-container *ngIf="room">
  <h2>{{room.type | classifier: roomTypeClassifier}}
    {{'room.details.roomAmount' | translate:{number: room.roomAmount} }}</h2>
  <h6>{{'room.details.size' | translate:{number: room.size} }}</h6>
  <br>

  <div class="row">
    <div class="col">
      <div class="image-container">
        <img
          src="assets/sample/hotel_1.jpg"
          [alt]="'room.details.picAlt' | translate"
          class="zoom-image">
      </div>
    </div>
    <div class="col">
      <div class="row row-gap-3">
        <div *ngFor="let number of [2,3,4,5]" class="col-6">
          <div class="image-container--small">
            <img
              [src]="'assets/sample/hotel_' + number + '.jpg'"
              [alt]="'room.details.picAlt' | translate"
              class="zoom-image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <div class="d-flex flex-wrap gap-3">
      <div *ngFor="let facility of room.roomFacilities"
           class="facility-chip">
        {{facility | classifier: facilityClassifier}}
      </div>
    </div>
  </div>
  <br>

  <div class="pt-3">
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <h3>{{'room.details.descriptionTitle' | translate}}</h3>
          </mat-card-header>
          <br>
          <mat-card-content>
            <p>{{'loremIpsum' | translate}}</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="section">
          <div class="row m-0">
            <div class="col p-2 section">
              <p class="grey-label">{{'room.date.start' | translate}}<br></p>
              {{startDate | dateFormat}}
            </div>
            <div class="col p-2 section">
              <p class="grey-label">{{'room.date.end' | translate}}<br></p>
              {{endDate | dateFormat}}
            </div>
          </div>
          <br>

          <div class="row m-0 small-text ps-2 pe-2">
            <div class="col p-2">
              <div class="row">
                <div class="col-9">
                  {{'room.booking.oneNightPrice' | translate}}
                </div>
                <div class="col text-end">
                  {{room.oneNightPriceInCents / 100 | currency:room.currency: 'symbol-narrow': '0.0'}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-9">
                  {{'room.booking.totalPrice' | translate}}
                </div>
                <div class="col small-text-bold text-end">
                  {{getCalculatedPrice() | currency:room.currency: 'symbol-narrow': '0.0'}}
                </div>
              </div>
            </div>
          </div>

          <mat-card-actions class="justify-content-center pb-3">
            <button
              (click)="toBooking()"
              class="c-btn c-btn--primary text-center">
              {{'button.book' | translate}}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
