<h4>{{booking.startAt | dateFormat}} - {{booking.endAt | dateFormat}}</h4>
<mat-card>
  <div class="row p-2">
    <div class="col-2">
      <div class="image-container">
        <img mat-card-image
             src="assets/sample/hotel_1.jpg"
             [alt]="'room.details.picAlt' | translate"
             class="zoom-image">
      </div>
    </div>
    <div class="col-5 align-self-center">
      <div class="d-flex flex-wrap gap-3">
        <h5 class="color-secondary">{{'room.details.roomAmount' | translate:{number: booking.room.roomAmount} }}</h5>
        <app-chip *ngIf="booking.canceled" color="jasper">{{'booking.canceled' | translate}}</app-chip>
      </div>
      <p class="small-text pt-2">{{'room.details.nights' | translate:{number: nightsOfStay} }}</p>
    </div>
    <div class="col-5 align-self-center text-end pe-5">
      <span class="large-text-bold">
        {{getCalculatedPrice() | currency:booking.room.currency: 'symbol-narrow': '0.0'}}
      </span>
    </div>
  </div>
  <mat-card-actions *ngIf="canCancel" class="justify-content-center pt-0">
    <button
      (click)="cancel()"
      class="c-btn c-btn--secondary text-center">
      {{'button.cancel' | translate}}
    </button>
  </mat-card-actions>

  <div
    class="d-flex align-items-center p-2"
    (click)="rate()"
    *ngIf="!canCancel && !booking.canceled">
    <p class="small-text pe-2 pb-1">{{'notification.rate' | translate}}</p>
    <span class="rating">
      <mat-icon
        *ngFor="let star of stars"
        class="star"
        [ngClass]="{ 'filled': star <= booking.rating }">
        {{ star <= booking.rating ? 'star' : 'star_border' }}
      </mat-icon>
  </span>
  </div>
</mat-card>
