<h4>{{booking.startAt | dateFormat}} - {{booking.endAt | dateFormat}}</h4>
<mat-card>
  <div class="row p-2">
    <div class="col-2">
      <div class="image-container">
        <img mat-card-image
             src="https://img1.10bestmedia.com/Images/Photos/378649/Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom-low-res_55_660x440.jpg"
             [alt]="'room.details.picAlt' | translate"
             class="zoom-image">
      </div>
    </div>
    <div class="col-5 align-self-center">
      <h5 class="color-secondary">{{'room.details.roomAmount' | translate:{number: booking.room.roomAmount} }}</h5>
      <p class="small-text pt-2">{{'room.details.nights' | translate:{number: nightsOfStay} }}</p>
    </div>
    <div class="col-5 align-self-center text-end pe-5">
      <span class="large-text-bold">
        {{getCalculatedPrice() | currency:booking.room.currency: 'symbol-narrow': '0.0'}}
      </span>
    </div>
  </div>
  <mat-card-actions class="justify-content-center pt-0">
    <button
      (click)="cancel()"
      class="c-btn c-btn--secondary text-center">
      {{'button.cancel' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
