.header {
  background-color: white;
  height: 100px;
  width: 101%;
  border-bottom: 2px solid var(--color-black-coral-2);
}

div .name {
  color: var(--color-sapphire-blue-10);
  border-right: 1px solid var(--color-black-coral-1);
  padding-right: 1.5rem;
}
