<button class="c-btn c-btn--text">
  <img
    class="small-arrow-left"
    src="assets/Icons/arrow_down.svg"
    alt="Konto ikoon"
  />
  {{'button.back' | translate}}
</button>
<ng-container *ngIf="room">
  <h2>{{'room.booking.title' | translate}}</h2>
  <br>

  <div class="row">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <h2>{{'room.details.descriptionTitle' | translate}}</h2>
        </mat-card-header>
        <mat-card-content>
          {{room.description}}
        </mat-card-content>

        <mat-checkbox
          color="primary"
          class="example-margin"
          [(ngModel)]="acceptTerms">
          {{'room.details.acceptTerms' | translate}}
        </mat-checkbox>

        <mat-card-actions class="justify-content-center pb-3">
          <button
            (click)="book()"
            class="c-btn c-btn--primary w-25 text-center">
            {{'button.book' | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6">

    </div>
  </div>
</ng-container>
