<div class="col-6 pt-5" style='margin:0 auto;'>
  <mat-card class="p-3">
    <mat-card-header>
      <h2>{{'login.title' | translate}}</h2>
    </mat-card-header>
    <mat-card-content>
      <app-input
        type="email"
        [control]="loginForm.controls.username"
        [placeholder]="'login.email' | translate">
      </app-input>
      <app-input
        type="password"
        [control]="loginForm.controls.password"
        [placeholder]="'login.password' | translate">
      </app-input>

    </mat-card-content>

    <mat-card-actions class="justify-content-center pb-3">
      <button
        (click)="login()"
        class="c-btn c-btn--primary w-25 text-center">
        {{'button.continue' | translate}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
