<div class="d-flex align-items-center justify-content-between pe-4">
  <h2>{{'room.book' | translate}}</h2>
  <select [(ngModel)]="sort" class="select-container">
    <option value="asc"><p class="small-text">{{'room.filterCheaper' | translate}}</p></option>
    <option value="desc"><p class="small-text">{{'room.filterExpensive' | translate}}</p></option>
  </select>
</div>
<br>

<div class="d-flex align-items-start">
  <div class="flex-grow-1 pe-3">
    <app-datepicker
      [startControlName]="'startDate'"
      [endControlName]="'endDate'"
      [form]="roomFilterForm"
      [startPlaceholder]="'room.date.start' | translate"
      [endPlaceholder]="'room.date.end' | translate"
      [minDate]="minDate"
      [maxDate]="maxDate"
    ></app-datepicker>
  </div>
  <div class="flex-grow-1 pe-3">
    <app-select
      [control]="roomFilterForm.controls.roomAmount"
      [options]="roomAmountClassifier"
      [placeholder]="'room.roomAmount' | translate"
    ></app-select>
  </div>
  <div class="flex-grow-1 pe-3">
    <app-select
      [control]="roomFilterForm.controls.priceRange"
      [options]="priceRangeClassifier"
      [placeholder]="'room.priceRange' | translate"
    ></app-select>
  </div>
  <div class="pt-2">
    <button class="c-btn c-btn--primary" (click)="search()">{{'button.search' | translate}}</button>
  </div>
</div>

<div class="row row-gap-3">
  <h3 *ngIf="displayNoResults">{{'room.noResults' | translate}}</h3>
  <div *ngFor="let room of rooms" class="col-xl-6 col-sm-12">
    <app-room-card [room]="room" [booking]="bookingDto"></app-room-card>
  </div>
</div>
