<h2>{{'room.book' | translate}}</h2>

<div class="d-flex align-items-start">
  <div class="flex-grow-1 pe-3">
    <app-datepicker
      [startControlName]="'startDate'"
      [endControlName]="'endDate'"
      [form]="roomFilterForm"
      [startPlaceholder]="'room.date.start' | translate"
      [endPlaceholder]="'room.date.end' | translate"
    ></app-datepicker>
  </div>
  <div class="flex-grow-1 pe-3">
    <app-select
      [control]="roomFilterForm.controls.roomAmount"
      [options]="roomAmountClassifier"
      [placeholder]="'room.bedAmount' | translate"
    ></app-select>
  </div>
  <div class="flex-grow-1 pe-3">
    <app-select
      [control]="roomFilterForm.controls.priceRange"
      [options]="priceRangeClassifier"
      [placeholder]="'room.priceRange' | translate"
    ></app-select>
  </div>
  <div class="pt-2">
    <button class="c-btn c-btn--primary" (click)="search()">{{'button.search' | translate}}</button>
  </div>
</div>

<div class="row row-gap-3">
  <div *ngFor="let room of rooms" class="col-xl-6 col-sm-12">
    <app-room-card [room]="room" [booking]="bookingDto"></app-room-card>
  </div>
</div>
