<div class="c-sidenav c-sidenav--over-8">
  <div class="wrapper">
    <nav id="sidebar" class="sidebar-controller">
      <ul>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/home.png"
              alt="Avalehe ikoon"
            />
            <p>Avaleht</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/specialReq.png"
              alt="Broneeringute ikoon"
            />
            <p>Broneeringud</p>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" aria-expanded="false">
            <img
              src="assets/Icons/family.png"
              alt="Konto ikoon"
            />
            <p>Konto</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="sidebar-ending"></div>
