<div class="w-25 c-sidenav c-sidenav--small">
  <div class="w-25 wrapper">
    <nav id="sidebar" class="w-25 sidebar-controller">
      <ul>
        <li>
          <a
            (click)="navigate('room')"
            data-toggle="collapse"
            aria-expanded="false">
            <img
              src="assets/Icons/home.png"
              alt="Avalehe ikoon"
            />
            <p>{{'sidebar.home' | translate}}</p>
          </a>
        </li>
        <li>
          <a
            (click)="navigate('booking')"
            data-toggle="collapse"
            aria-expanded="false">
            <img
              src="assets/Icons/specialReq.png"
              alt="Broneeringute ikoon"
            />
            <p>{{'sidebar.bookings' | translate}}</p>
          </a>
        </li>
        <li>
        <li>
          <a
            (click)="navigate('admin')"
            data-toggle="collapse"
            aria-expanded="false">
            <img
              src="assets/Icons/country.png"
              alt="Tubade ikoon"
            />
            <p>{{'sidebar.rooms' | translate}}</p>
          </a>
        </li>
        <li>
          <a
            (click)="navigate('account')"
            data-toggle="collapse"
            aria-expanded="false">
            <img
              src="assets/Icons/myData.png"
              alt="Konto ikoon"
            />
            <p>{{'sidebar.account' | translate}}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="sidebar-ending"></div>
