<table mat-table [dataSource]="tableBookings" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="roomAmount">
    <th mat-header-cell *matHeaderCellDef> {{'admin.room' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.roomAmount | classifier: roomAmountClassifier}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dates">
    <th mat-header-cell *matHeaderCellDef> {{'admin.dates' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.dates}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="guest">
    <th mat-header-cell *matHeaderCellDef> {{'admin.guestName' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.guest}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> {{'admin.price' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
