// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import 'src/assets/_pallette';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-frontend-primary: mat.define-palette($md-ee-primary);
$client-frontend-accent: mat.define-palette($md-ee-accent);

// The warn palette is optional (defaults to red).
$client-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-frontend-theme: mat.define-light-theme((
  color: (
    primary: $client-frontend-primary,
    accent: $client-frontend-accent,
    warn: $client-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-frontend-theme);

@import 'bootstrap/scss/bootstrap-utilities.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'veera-styles/scss/main-storybook.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--color-black-coral-0) !important;
}

.color-success {
  filter: invert(39%) sepia(80%) saturate(339%) hue-rotate(92deg) brightness(94%) contrast(89%);
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
}

h3 {
  font: 24px 'roboto';
  font-weight: 400;
  line-height: 36px;
}

h4 {
  font: 20px 'roboto';
  font-weight: 400;
  line-height: 30px;
}

h5 {
  font: 18px 'roboto';
  font-weight: 400;
  line-height: 27px;
}

h6 {
  font: 16px 'roboto';
  font-weight: 600;
  line-height: 24px;
}

p {
  font: 16px 'roboto';
  font-weight: 400;
  line-height: 24px;
}

.grey-label {
  font: 14px 'roboto';
  font-weight: 400;
  line-height: 21px;
  color: var(--color-black-coral-6);
}

.small-text {
  font: 14px Roboto;
  font-weight: 400;
  line-height: 21px;
}

.small-text-bold {
  font: 14px Roboto;
  font-weight: 600;
  line-height: 21px;
}

.large-text-bold {
  font: 18px Roboto;
  font-weight: 600;
  line-height: 27px;
}

.color-secondary {
  color: var(--color-sapphire-blue-9);
}
