.button-icon {
  font-size: 36px;
  height: auto;
  width: auto;
}

.completed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.width-600 {
  width: 600px !important;
}
